<a href="https://colab.research.google.com/github/niafthomas/niafthomas.github.io/blob/main/Europe_HomeO_SM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents
import plotly.express as px

Getting list of European Countries

In [42]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/List_of_European_countries_by_area"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Rank    State  ...                                              Notes Unnamed: 5
0   1.0  Russia*  ...  3,995,200 km2 (1,542,600 sq mi) including the ...        NaN
1   2.0  Ukraine  ...                                  Including Crimea.        NaN
2   3.0  France*  ...  643,801 km2 (248,573 sq mi) when the overseas ...        NaN
3   4.0   Spain*  ...  505,990 km2 (195,360 sq mi) when the Canary Is...        NaN
4   5.0   Sweden  ...                                                NaN        NaN

[5 rows x 6 columns]

In [43]:
Countries = df[['State']]
Countries['State'] = Countries['State'].str.replace('*','')
Countries.rename(columns={'State':'Country'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
Countries

                   Country
0                   Russia
1                  Ukraine
2                   France
3                    Spain
4                   Sweden
5                   Norway
6                  Germany
7                  Finland
8                   Poland
9                    Italy
10          United Kingdom
11                 Romania
12                 Belarus
13              Kazakhstan
14                  Greece
15                Bulgaria
16                 Iceland
17                 Hungary
18                Portugal
19                 Austria
20          Czech Republic
21                  Serbia
22                 Ireland
23               Lithuania
24                  Latvia
25                 Croatia
26  Bosnia and Herzegovina
27                Slovakia
28                 Estonia
29                 Denmark
30             Switzerland
31             Netherlands
32                 Moldova
33                 Belgium
34                 Albania
35         North Macedonia
36                  Turkey
37                Slovenia
38              Montenegro
39                  Kosovo
40              Azerbaijan
41              Luxembourg
42                 Georgia
43                 Andorra
44                   Malta
45           Liechtenstein
46              San Marino
47                  Monaco
48            Vatican City
49                  Cyprus
50                 Armenia
51                   Total

Data on Social Mobility

In [45]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/Global_Social_Mobility_Index"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [46]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [47]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Rank  Country  Index Score
0     1  Denmark         85.2
1     2   Norway         83.6
2     3  Finland         83.6
3     4   Sweden         83.5
4     5  Iceland         82.7

In [48]:
# drop the unwanted columns
sm = df.drop(["Rank"], axis=1)
# rename columns for ease

In [49]:
sm

        Country  Index Score
0       Denmark         85.2
1        Norway         83.6
2       Finland         83.6
3        Sweden         83.5
4       Iceland         82.7
..          ...          ...
77   Bangladesh         40.2
78     Pakistan         36.7
79     Cameroon         36.0
80      Senegal         36.0
81  Ivory Coast         34.5

[82 rows x 2 columns]

Getting Home Ownership data

In [50]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/List_of_countries_by_home_ownership_rate"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [51]:
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

  Country or Territory Home ownership rate(%) Date of Information
0              Romania                   96.1             2019[2]
1              Hungary                   91.3             2020[2]
2             Slovakia                   90.9             2019[2]
3            Lithuania                   90.3             2019[2]
4                 Cuba                     90             2014[3]

In [52]:
# drop the unwanted columns
HomeO = df.drop(["Date of Information"], axis=1)
# rename columns for ease
HomeO = data.rename(columns={"Country or Territory": "Country"})
HomeO

                 Country Home ownership rate(%)
0                Romania                   96.1
1                Hungary                   91.3
2               Slovakia                   90.9
3              Lithuania                   90.3
4                   Cuba                     90
..                   ...                    ...
66           Switzerland                   41.6
67  United Arab Emirates                     28
68               Nigeria                     25
69                  Fiji                     10
70           North Korea                   0[a]

[71 rows x 2 columns]

In [54]:
merge = pd.merge(Countries, HomeO, on='Country', how='left')

In [55]:
merged = pd.merge(merge, sm, on='Country', how='left')

In [56]:
merged

                   Country Home ownership rate(%)  Index Score
0                   Russia                     89         64.7
1                  Ukraine                    NaN         61.2
2                   France                   64.1         76.7
3                    Spain                   76.2         70.0
4                   Sweden                   64.5         83.5
5                   Norway                   80.3         83.6
6                  Germany                   51.1         78.8
7                  Finland                   70.7         83.6
8                   Poland                   84.2         69.1
9                    Italy                   72.4         67.4
10          United Kingdom                     63         74.4
11                 Romania                   96.1         63.1
12                 Belarus                    NaN          NaN
13              Kazakhstan                    NaN         64.8
14                  Greece                   74.6         59.8
15                Bulgaria                   84.3         63.8
16                 Iceland                   73.6         82.7
17                 Hungary                   91.3         65.8
18                Portugal                   73.9         72.0
19                 Austria                   55.3         80.1
20          Czech Republic                   78.6         74.7
21                  Serbia                   83.3         63.8
22                 Ireland                   68.7         75.0
23               Lithuania                   90.3         70.5
24                  Latvia                   80.2         69.0
25                 Croatia                   89.7         66.7
26  Bosnia and Herzegovina                    NaN          NaN
27                Slovakia                   90.9         68.5
28                 Estonia                   81.4         73.5
29                 Denmark                   60.8         85.2
30             Switzerland                   41.6         82.1
31             Netherlands                   69.0         82.4
32                 Moldova                    NaN         59.6
33                 Belgium                   72.3         80.1
34                 Albania                    NaN         55.6
35         North Macedonia                   88.7          NaN
36                  Turkey                   58.8         51.3
37                Slovenia                   74.6         76.4
38              Montenegro                    NaN          NaN
39                  Kosovo                    NaN          NaN
40              Azerbaijan                    NaN          NaN
41              Luxembourg                   70.9         79.8
42                 Georgia                    NaN         55.6
43                 Andorra                    NaN          NaN
44                   Malta                   79.8         75.0
45           Liechtenstein                    NaN          NaN
46              San Marino                    NaN          NaN
47                  Monaco                    NaN          NaN
48            Vatican City                    NaN          NaN
49                  Cyprus                   67.9         69.4
50                 Armenia                    NaN         53.9
51                   Total                    NaN          NaN

In [57]:
#drop unwanted columns and set country as index
merged = merged.dropna().set_index('Country')

In [58]:
merged

               Home ownership rate(%)  Index Score
Country
Russia                             89         64.7
France                           64.1         76.7
Spain                            76.2         70.0
Sweden                           64.5         83.5
Norway                           80.3         83.6
Germany                          51.1         78.8
Finland                          70.7         83.6
Poland                           84.2         69.1
Italy                            72.4         67.4
United Kingdom                     63         74.4
Romania                          96.1         63.1
Greece                           74.6         59.8
Bulgaria                         84.3         63.8
Iceland                          73.6         82.7
Hungary                          91.3         65.8
Portugal                         73.9         72.0
Austria                          55.3         80.1
Czech Republic                   78.6         74.7
Serbia                           83.3         63.8
Ireland                          68.7         75.0
Lithuania                        90.3         70.5
Latvia                           80.2         69.0
Croatia                          89.7         66.7
Slovakia                         90.9         68.5
Estonia                          81.4         73.5
Denmark                          60.8         85.2
Switzerland                      41.6         82.1
Netherlands                      69.0         82.4
Belgium                          72.3         80.1
Turkey                           58.8         51.3
Slovenia                         74.6         76.4
Luxembourg                       70.9         79.8
Malta                            79.8         75.0
Cyprus                           67.9         69.4

In [59]:
merged.to_csv("Europe_HomeO_SM.csv")