<a href="https://colab.research.google.com/github/niafthomas/niafthomas.github.io/blob/main/SM_Gini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
gini = pd.read_csv("gini.csv")
sm = pd.read_csv("Social_Mobility.csv")

In [3]:
gini

         Country                   Gini
0    Afghanistan                    NaN
1        Albania                   33.2
2        Algeria                   27.6
3         Angola                   51.3
4      Argentina                   41.4
..           ...                    ...
173    Palestine                   33.7
174        Yemen                   36.7
175       Zambia                   57.1
176     Zimbabwe                   44.3
177        World  12.0[citation needed]

[178 rows x 2 columns]

In [4]:
gini = gini.dropna()

In [5]:
gini

       Country                   Gini
1      Albania                   33.2
2      Algeria                   27.6
3       Angola                   51.3
4    Argentina                   41.4
5      Armenia                   34.4
..         ...                    ...
173  Palestine                   33.7
174      Yemen                   36.7
175     Zambia                   57.1
176   Zimbabwe                   44.3
177      World  12.0[citation needed]

[160 rows x 2 columns]

In [6]:
sm

        Country  Index Score
0       Denmark         85.2
1        Norway         83.6
2       Finland         83.6
3        Sweden         83.5
4       Iceland         82.7
..          ...          ...
77   Bangladesh         40.2
78     Pakistan         36.7
79     Cameroon         36.0
80      Senegal         36.0
81  Ivory Coast         34.5

[82 rows x 2 columns]

In [7]:
df = pd.merge(gini, sm, how='outer', on='Country')

In [8]:
df

          Country                   Gini  Index Score
0         Albania                   33.2         55.6
1         Algeria                   27.6          NaN
2          Angola                   51.3          NaN
3       Argentina                   41.4         57.3
4         Armenia                   34.4         53.9
..            ...                    ...          ...
158      Zimbabwe                   44.3          NaN
159         World  12.0[citation needed]          NaN
160     Singapore                    NaN         74.6
161   New Zealand                    NaN         74.3
162  Saudi Arabia                    NaN         57.1

[163 rows x 3 columns]

In [9]:
df = df.dropna()

In [10]:
df

            Country  Gini  Index Score
0           Albania  33.2         55.6
3         Argentina  41.4         57.3
4           Armenia  34.4         53.9
5         Australia  34.4         75.1
6           Austria  29.7         80.1
..              ...   ...          ...
147         Ukraine  26.1         61.2
149  United Kingdom  34.8         74.4
150   United States  41.4         70.4
151         Uruguay  39.7         67.1
154         Vietnam  35.7         57.8

[79 rows x 3 columns]

In [11]:
df.to_csv("sm_gini.csv", index = False)

In [12]:
from google.colab import files

In [13]:
files.download("sm_gini.csv")