<a href="https://colab.research.google.com/github/niafthomas/niafthomas.github.io/blob/main/Adding_Colour_topojson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import requests, json, pandas as pd

In [58]:
import numpy as np

In [59]:
topo=requests.get('https://raw.githubusercontent.com/deldersveld/topojson/master/world-countries.json').json()

In [60]:
for i in topo['objects']['countries1']['geometries']:
  print(i['properties']['name'])

Afghanistan
Angola
Albania
United Arab Emirates
Argentina
Armenia
Antarctica
French Southern and Antarctic Lands
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
The Bahamas
Bosnia and Herzegovina
Belarus
Belize
Bermuda
Bolivia
Brazil
Brunei
Bhutan
Botswana
Central African Republic
Canada
Switzerland
Chile
China
Ivory Coast
Cameroon
Democratic Republic of the Congo
Republic of the Congo
Colombia
Costa Rica
Cuba
Northern Cyprus
Cyprus
Czech Republic
Germany
Djibouti
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Spain
Estonia
Ethiopia
Finland
Fiji
Falkland Islands
France
Gabon
United Kingdom
Georgia
Ghana
Guinea
Gambia
Guinea Bissau
Equatorial Guinea
Greece
Greenland
Guatemala
French Guiana
Guyana
Honduras
Croatia
Haiti
Hungary
Indonesia
India
Ireland
Iran
Iraq
Iceland
Israel
Italy
Jamaica
Jordan
Japan
Kazakhstan
Kenya
Kyrgyzstan
Cambodia
South Korea
Kosovo
Kuwait
Laos
Lebanon
Liberia
Libya
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Morocco
Moldova
Madagascar
Mexico
Macedonia
Mali
Malta
Myanmar
Montenegro
Mongolia
Mozambique
Mauritania
Malawi
Malaysia
Namibia
New Caledonia
Niger
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Pakistan
Panama
Peru
Philippines
Papua New Guinea
Poland
Puerto Rico
North Korea
Portugal
Paraguay
Qatar
Romania
Russia
Rwanda
Western Sahara
Saudi Arabia
Sudan
South Sudan
Senegal
Solomon Islands
Sierra Leone
El Salvador
Somaliland
Somalia
Republic of Serbia
Suriname
Slovakia
Slovenia
Sweden
Swaziland
Syria
Chad
Togo
Thailand
Tajikistan
Turkmenistan
East Timor
Trinidad and Tobago
Tunisia
Turkey
Taiwan
United Republic of Tanzania
Uganda
Ukraine
Uruguay
United States of America
Uzbekistan
Venezuela
Vietnam
Vanuatu
West Bank
Yemen
South Africa
Zambia
Zimbabwe

Bringing in the Social Mobility and Gini Coefficient data from World Economic Forum and World Bank to match it to the country names.

In [61]:
import pandas as pd

In [63]:
data=pd.read_csv('https://raw.githubusercontent.com/niafthomas/niafthomas.github.io/main/sm_gini.csv').set_index('Country')

In [64]:
data

                Gini  Index Score
Country
Albania         33.2         55.6
Argentina       41.4         57.3
Armenia         34.4         53.9
Australia       34.4         75.1
Austria         29.7         80.1
...              ...          ...
Ukraine         26.1         61.2
United Kingdom  34.8         74.4
United States   41.4         70.4
Uruguay         39.7         67.1
Vietnam         35.7         57.8

[79 rows x 2 columns]

In [65]:
colour_code = [1,2,3,4,5,6,7,8,9]

In [66]:
data

                Gini  Index Score
Country
Albania         33.2         55.6
Argentina       41.4         57.3
Armenia         34.4         53.9
Australia       34.4         75.1
Austria         29.7         80.1
...              ...          ...
Ukraine         26.1         61.2
United Kingdom  34.8         74.4
United States   41.4         70.4
Uruguay         39.7         67.1
Vietnam         35.7         57.8

[79 rows x 2 columns]

In [67]:

# conditions to assign colour value based on combination of gdp and happiness
conditions = [
    (data['Gini'] < 33) & (data['Index Score'] < 54),
    (data['Gini'] < 33) & (data['Index Score'] > 54) & (data['Index Score'] < 69),
    (data['Gini'] < 33) & (data['Index Score'] > 69),
    (data['Gini'] > 33) & (data['Gini'] < 39) & (data['Index Score'] < 54),
    (data['Gini'] > 33) & (data['Gini'] < 39) & (data['Index Score'] > 54) & (data['Index Score'] < 69),
    (data['Gini'] > 33) & (data['Gini'] < 39) & (data['Index Score'] > 69),
    (data['Gini'] > 39) & (data['Index Score'] < 54),
    (data['Gini'] > 39) & (data['Index Score'] > 54) & (data['Index Score'] < 69),
    (data['Gini'] > 39) & (data['Index Score'] > 69)
    ]

In [68]:
# create a list of the values we want to assign for each condition
colour_code = [1,2,3,4,5,6,7,8,9]

# create a new column and use np.select to assign values to it using our lists as arguments
data["Colour"] = np.select(conditions, colour_code)

In [69]:
data["Colour"] = np.select(conditions, colour_code)

In [70]:
data

                Gini  Index Score  Colour
Country
Albania         33.2         55.6       5
Argentina       41.4         57.3       8
Armenia         34.4         53.9       4
Australia       34.4         75.1       6
Austria         29.7         80.1       3
...              ...          ...     ...
Ukraine         26.1         61.2       2
United Kingdom  34.8         74.4       6
United States   41.4         70.4       9
Uruguay         39.7         67.1       8
Vietnam         35.7         57.8       5

[79 rows x 3 columns]

We extend the topojson properties - in your final product, you need to rename countries until you have a perfect match.

In [71]:
for i in topo['objects']['countries1']['geometries']:
  country=i['properties']['name']
  if country in data.index:
    print(country,'found! Extending data..')
    i['properties']['Scoial Mobility Score']=data.loc[country]['Index Score']
    i['properties']['Gini Coefficient']=data.loc[country]['Gini']
    i['properties']['Colour']=data.loc[country]['Colour']

Albania found! Extending data..
Argentina found! Extending data..
Armenia found! Extending data..
Australia found! Extending data..
Austria found! Extending data..
Belgium found! Extending data..
Bangladesh found! Extending data..
Bulgaria found! Extending data..
Brazil found! Extending data..
Canada found! Extending data..
Switzerland found! Extending data..
Chile found! Extending data..
China found! Extending data..
Ivory Coast found! Extending data..
Cameroon found! Extending data..
Colombia found! Extending data..
Costa Rica found! Extending data..
Cyprus found! Extending data..
Czech Republic found! Extending data..
Germany found! Extending data..
Denmark found! Extending data..
Ecuador found! Extending data..
Egypt found! Extending data..
Spain found! Extending data..
Estonia found! Extending data..
Finland found! Extending data..
France found! Extending data..
United Kingdom found! Extending data..
Georgia found! Extending data..
Ghana found! Extending data..
Greece found! Extending data..
Guatemala found! Extending data..
Honduras found! Extending data..
Croatia found! Extending data..
Hungary found! Extending data..
Indonesia found! Extending data..
India found! Extending data..
Ireland found! Extending data..
Iceland found! Extending data..
Israel found! Extending data..
Italy found! Extending data..
Japan found! Extending data..
Kazakhstan found! Extending data..
South Korea found! Extending data..
Laos found! Extending data..
Sri Lanka found! Extending data..
Lithuania found! Extending data..
Luxembourg found! Extending data..
Latvia found! Extending data..
Morocco found! Extending data..
Moldova found! Extending data..
Mexico found! Extending data..
Malta found! Extending data..
Malaysia found! Extending data..
Netherlands found! Extending data..
Norway found! Extending data..
Pakistan found! Extending data..
Panama found! Extending data..
Peru found! Extending data..
Philippines found! Extending data..
Poland found! Extending data..
Portugal found! Extending data..
Paraguay found! Extending data..
Romania found! Extending data..
Russia found! Extending data..
Senegal found! Extending data..
El Salvador found! Extending data..
Slovakia found! Extending data..
Slovenia found! Extending data..
Sweden found! Extending data..
Thailand found! Extending data..
Tunisia found! Extending data..
Turkey found! Extending data..
Ukraine found! Extending data..
Uruguay found! Extending data..
Vietnam found! Extending data..
South Africa found! Extending data..

In [72]:
topo['objects']['countries1']['geometries'][3]['properties']

{'Alpha-2': 'AE', 'name': 'United Arab Emirates'}

In [75]:
import json
open('topojson_export_colour.json','w').write(json.dumps(topo))

142247