<a href="https://colab.research.google.com/github/niafthomas/niafthomas.github.io/blob/main/sm%26giniscraperipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import requests, pandas as pd
import numpy as np
tables=pd.read_html('https://en.wikipedia.org/wiki/Global_Social_Mobility_Index')

In [78]:
tables[0]

    Rank      Country  Index Score
0      1      Denmark         85.2
1      2       Norway         83.6
2      3      Finland         83.6
3      4       Sweden         83.5
4      5      Iceland         82.7
..   ...          ...          ...
77    78   Bangladesh         40.2
78    79     Pakistan         36.7
79    80     Cameroon         36.0
80    81      Senegal         36.0
81    82  Ivory Coast         34.5

[82 rows x 3 columns]

In [79]:
df=tables[0]
df

    Rank      Country  Index Score
0      1      Denmark         85.2
1      2       Norway         83.6
2      3      Finland         83.6
3      4       Sweden         83.5
4      5      Iceland         82.7
..   ...          ...          ...
77    78   Bangladesh         40.2
78    79     Pakistan         36.7
79    80     Cameroon         36.0
80    81      Senegal         36.0
81    82  Ivory Coast         34.5

[82 rows x 3 columns]

In [80]:
sm = df.drop(['Rank'], axis=1).set_index('Country')
sm

             Index Score
Country
Denmark             85.2
Norway              83.6
Finland             83.6
Sweden              83.5
Iceland             82.7
...                  ...
Bangladesh          40.2
Pakistan            36.7
Cameroon            36.0
Senegal             36.0
Ivory Coast         34.5

[82 rows x 1 columns]

In [81]:
sm.to_csv('Social_Mobility.csv')
import os
os.getcwd()
from google.colab import files
files.download('Social_Mobility.csv')

In [82]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_income_equality')

In [83]:
tables[0]

         Country        Subregion  ... CIA Gini[6]
         Country        Subregion  ...           %       Year
0    Afghanistan    Southern Asia  ...         NaN        NaN
1        Albania  Southern Europe  ...        26.9  2012 est.
2        Algeria  Northern Africa  ...        35.3       1995
3         Angola    Middle Africa  ...         NaN        NaN
4      Argentina    South America  ...        41.7       2017
..           ...              ...  ...         ...        ...
173    Palestine     Western Asia  ...         NaN        NaN
174        Yemen     Western Asia  ...        37.7       2005
175       Zambia   Eastern Africa  ...        57.5       2010
176     Zimbabwe   Eastern Africa  ...        50.1       2006
177        World              NaN  ...         NaN        NaN

[178 rows x 11 columns]

In [84]:
df2=tables[0]
df2.columns = ["Country", "a", "b", "c", "a", "Gini", "b", "c", "a", "b", "c"]
df2

         Country                a         b  ...               a     b          c
0    Afghanistan    Southern Asia      Asia  ...             NaN   NaN        NaN
1        Albania  Southern Europe    Europe  ...            2004  26.9  2012 est.
2        Algeria  Northern Africa    Africa  ...            1995  35.3       1995
3         Angola    Middle Africa    Africa  ...             NaN   NaN        NaN
4      Argentina    South America  Americas  ...  2007 Jan.â€“Mar.  41.7       2017
..           ...              ...       ...  ...             ...   ...        ...
173    Palestine     Western Asia      Asia  ...             NaN   NaN        NaN
174        Yemen     Western Asia      Asia  ...            2003  37.7       2005
175       Zambia   Eastern Africa    Africa  ...             NaN  57.5       2010
176     Zimbabwe   Eastern Africa    Africa  ...             NaN  50.1       2006
177        World              NaN       NaN  ...            2007   NaN        NaN

[178 rows x 11 columns]

In [85]:
df2 = df2.drop(["a", "b", "c"], axis = 1)
df2

         Country                   Gini
0    Afghanistan                    NaN
1        Albania                   33.2
2        Algeria                   27.6
3         Angola                   51.3
4      Argentina                   41.4
..           ...                    ...
173    Palestine                   33.7
174        Yemen                   36.7
175       Zambia                   57.1
176     Zimbabwe                   44.3
177        World  12.0[citation needed]

[178 rows x 2 columns]

In [86]:
gini = df2

In [87]:
gini = gini.dropna()
gini

       Country                   Gini
1      Albania                   33.2
2      Algeria                   27.6
3       Angola                   51.3
4    Argentina                   41.4
5      Armenia                   34.4
..         ...                    ...
173  Palestine                   33.7
174      Yemen                   36.7
175     Zambia                   57.1
176   Zimbabwe                   44.3
177      World  12.0[citation needed]

[160 rows x 2 columns]

In [88]:
gini.to_csv("gini.csv", index = False)
from google.colab import files
files.download("gini.csv")

In [89]:
sm_gini = pd.merge(gini, sm, how='outer', on='Country')

In [90]:
sm_gini

          Country                   Gini  Index Score
0         Albania                   33.2         55.6
1         Algeria                   27.6          NaN
2          Angola                   51.3          NaN
3       Argentina                   41.4         57.3
4         Armenia                   34.4         53.9
..            ...                    ...          ...
158      Zimbabwe                   44.3          NaN
159         World  12.0[citation needed]          NaN
160     Singapore                    NaN         74.6
161   New Zealand                    NaN         74.3
162  Saudi Arabia                    NaN         57.1

[163 rows x 3 columns]

In [91]:
sm_gini = sm_gini.dropna()

In [92]:
sm_gini

            Country  Gini  Index Score
0           Albania  33.2         55.6
3         Argentina  41.4         57.3
4           Armenia  34.4         53.9
5         Australia  34.4         75.1
6           Austria  29.7         80.1
..              ...   ...          ...
147         Ukraine  26.1         61.2
149  United Kingdom  34.8         74.4
150   United States  41.4         70.4
151         Uruguay  39.7         67.1
154         Vietnam  35.7         57.8

[79 rows x 3 columns]

In [93]:
sm_gini.to_csv("sm_gini.csv", index = False)

In [94]:
from google.colab import files

In [95]:
files.download("sm_gini.csv")